@import (reference) "../../utils/global.less";

@lineHeight: 1.2em;
@exerptMaxLines: 3;
@postExcerptHeight: (@lineHeight * @exerptMaxLines);
@loaderBgColor: #eee;
@loaderHighlight: #ddd;

.f-post-list-item {
  width: 100%;
  height: auto;
  min-height: 194px;
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  box-shadow: 0px 1px 0px 0px @listDividerColor;
  .DEVICE_LAPTOPS({
    min-height: 144px;
  });
  &:last-child {
    box-shadow: none;
  }
  .post-feature {
    width: 208px;
    height: auto;
    float: right;
    .DEVICE_LAPTOPS({
      width: 160px;
    });
    .DEVICE_MOBILE({
      float: none;
      width: 100%;
    });
  }
  .post-title, .post-excerpt, .post-tags {
    margin-right: 224px;
    text-align: left;
    .DEVICE_LAPTOPS({
      margin-right: 176px;
    });
    .DEVICE_MOBILE({
      margin-right: 0;
    });
  }
  .post-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.8em;
    line-height: 1.2em;
    color: @fontColor;
    .DEVICE_LAPTOPS({
      font-size: 1.6em;
    });
    .DEVICE_LAPTOPS({
      font-size: 1.24em;
    });
    .DEVICE_MOBILE({
      font-size: 1.2em;
      margin-top: 1em;
    });
  }
  .post-excerpt {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1em;
    color: @fontColorLight;
    word-wrap: break-word;
    overflow: hidden;
    line-height: @lineHeight;
    max-height: @postExcerptHeight;
    p {
      text-align: justify;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }
    .DEVICE_LAPTOPS({
      margin-top: 0.6em;
      margin-bottom: 0.6em;
    });
    .DEVICE_LAPTOPS({
      font-size: 0.84em;
    });
  }
  .post-tags {
    color: @primaryColor;
    position: relative;
    .post-tags-icon {
      font-size: 2.4em;
      float: left;
      .DEVICE_LAPTOPS({
        font-size: 1.4em;
      });
    }
    .post-tags-container {
      margin-left: 2.4em;
      padding-top: 0.64em;
      .DEVICE_LAPTOPS({
        font-size: 0.9em;
        margin-left: 1.4em;
        padding-top: 0.2em;
      });
    }
  }
}

.f-post-list-item.f-post-loading {
  height: 12em;
  padding: 0px;
  border: 1em solid white;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: loadingAnimation;
  animation-timing-function: ease;
  background-color: @loaderBgColor;
  background-image: linear-gradient(to right,  @loaderBgColor 2%, @loaderHighlight 18%, @loaderBgColor 33%);
  background-repeat: no-repeat;
  .post-loader-mask-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-width: 0.4em 1em 0.4em 0;
    border-color: white;
    border-style: solid;
    right: 208px;
    .DEVICE_LAPTOPS({
      right: 160px;
    });
    .DEVICE_MOBILE({
        right: 0;
        top: 16em;
        border-width: 0.6em 1em 0.4em 0;
    })
  }
  .post-loader-mask {
    position: relative;
    background: white;
  }
  .mask-1, .mask-2 {
    margin-top: 1.4em;
    height: 0.6em;
  }
  .mask-2 {
    height: 1.2em;
  }
  .mask-2-stub {
    float: right;
    height: 1.4em;
    width: 30%;
  }
  .mask-3, .mask-4, .mask-5 {
    margin-top: 0.4em;
    height: 0.4em;
  }
  .mask-5 {
    height: 0.8em;
  }
  .mask-6 {
    margin-left: 2em;
    border: 0.6em solid white;
    height: 0.8em;
    background: transparent;
    border-right: none;
  }
  .DEVICE_MOBILE({
    height: 28em;
  });
}

@keyframes loadingAnimation {
  100% { background-position: 100vw 0 }
}
