{{!< default}}
<div class="f-error-container no-react">
  <div class="f-error-wrap">
    <img class="f-error-img" src="/assets/images/f-404.png" alt="" />
    <h1 class="f-error-head">Dang! Seriously, a 404?</h1>
    <h2 class="f-error-suggestion">
      While I don't have that stuff for you,
      <br />
      how about going through some of my <a href="{{@blog.url}}" class="primary">recent publications</a>?
    </h2>
  </div>
</div>
