@bgShapeColor: #F0F0F0;
@primaryColor: #6F40F2;
@fontColor: #303030;
@fontColorLight: #999;
@fontColorLighter: #AAA;
@fontColorHighLighted: #F24044;
@listDividerColor: #DDD;

@import url('https://fonts.googleapis.com/css?family=Quattrocento');
