@import (reference) "../../utils/global.less";

.f-sidebar-page {
  .f-sidebar {
    width: 24em;
  }
  .f-sp-contents {
    margin-left: 24em;
    height: 100%;
    position: relative;
  }
  .DEVICE_LAPTOPS({
    .f-sidebar {
      width: 20em;
    }
    .f-sp-contents {
      margin-left: 20em;
    }
  });
  .DEVICE_PORTRAIT({
    .f-sp-contents {
      margin-left: 0em;
      height: auto;
      min-height: 100vh;
      padding-bottom: 2em;
    }
    .f-sidebar {
      width: 100%;
      position: relative;
      .f-icons-container {
        margin-bottom: 2em;
      }
    }
  });
}
